<div class="main_head navbar bg-dark text-right" id="header">
    <div class="block d-flex">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Type here</span>
            </div>
            <input type="search" id="search" placeholder="Search..."/>
        </div>
        <h1 class="head_text font-weight-lighter">TScrapperBot</h1>
    </div>
</div>

